/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

Inside media queries 1em is always 16px i.e 1em = 16px at every screen size only inside media queries
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit; 
  color: #000
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth; 
}
  @media only screen and (max-width: 75em) {
    html {
      font-size: 59%; 
    } 
}
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 56%; 
    } 
}
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 65%; 
    } 
}

body {
  font-family: "Source Sans 3", serif;
  box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Source Sans Pro', sans-serif; 
}

h1 {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
h2 {
  font-weight: bold;
  font-size: 1.7em;
}

p, .list-description li {
  font-size: 1.4em;
  color: rgb(102, 102, 102);
}

.list-description li {
  margin: 2rem 0 2rem 0;
  list-style-type: disc;
}

a {
  text-decoration: none;
}

li {
  list-style: none; 
}

input:focus,
button:focus,
a:focus,
textarea:focus {
  outline: none; 
}

button {
  border: none;
  cursor: pointer;
  background-color: #7843E9;
  color: #FFF;
  font-weight: bold;
  border-radius: 3px;
  padding: 1em 4em;
  font-size: 1.2em;
}

textarea {
  resize: none;
}

.project-details__links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.project-details__links button {
  margin: 1rem 0;
}

/** BANNER */

@media screen and (min-width: 412px) {
   h1 {
    font-size: 2.2em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.7em;
  }

  .skill {
    font-size: 1.2em;
    font-weight: 700;
    color: rgb(101, 100, 100);
  }

  #name, #email, #message {
   font-size: 1.4em;
  }

  label.label  {
    font-size: 1.4em;
  }
}

#banner {
    z-index: 1;
    position: fixed;
    width: 100%;
    background-color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

#nav-bar {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

#nav-bar ul {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 6rem;
  right: 0;
  width: 100%;
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#nav-bar li {
  padding: 1em 0;
  text-align: center;
  border-bottom: .5px solid rgb(175, 173, 173);
}

#nav-bar a {
  color: #000;
  display: block;
  padding: 10px;
  text-decoration: none;
}

#nav-bar ul.active {
  display: flex;
  background-color: #ffffff;
  border: 0.5px solid rgb(175, 173, 173);
  width: 20rem;
  z-index: 1;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #3E1E04;
  margin: 3px 0;
}

#header-logo-img-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#header-logo-img{
    width: 5rem;
    height: 5rem;
    border-radius: 50px;
    overflow: hidden;
    padding: 0.1em;
    margin-right: 1.5rem;
    background: #0062b9; 
}

@media screen and (min-width: 500px) {
  #burger-menu {
    display: none;
  }

  #nav-bar ul {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #FFF;
    box-shadow: none;
  }

  #nav-bar li {
    font-weight: bold;
    border-bottom: none;
  }
}


/** HERO SECTION */
#hero-section, #contact {
    color: #fff;
    background: linear-gradient(to right, rgba(245, 245, 245, 0.75), rgba(245, 245, 245, 0.75)), url(/public/images/common-bg.svg);
    background-position: center;
    height: 100vh;
    min-height: 80rem;
    max-height: 120rem;
    position: relative;
}

.section-title {
    margin: 0 1em;
    padding: 18rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title p {
    text-align: center;
    margin: 1em 2em;
}

#contact .section-title, #project-section .section-title, #about .section-title {
    padding: 9rem 0;
}

/** MAIN SECTION */
/** ABOUT SECTION */
/** TITLE PART */

#about, #project-section, #contact, #footer {
  font-size: 1.6rem;
}

#about {
  background-color: rgb(245, 245, 245);
}

.box-title{
  font-size: 2.5rem;
}

/** TEXT PART */

.container-text-section {
  margin: 0 1em;
}

.container-text-section h3, .container-text-section p, .container-text-section button {
  margin: 1em 0;
}

.container-text-section button {
  margin-bottom: 2em;
}

/** HARD SKILLS PART */

.hard-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 0.5em;
}

.skill {
  margin: 0.6em 0.6em;
  padding: 0.7em 1em;
  background-color: rgb(235, 227, 227);
  border-radius: 3px;
}

.hard-skills-title {
  margin: 1em;
}

/** PROJECT SECTION */

#project-section {
  background-color: rgb(247, 247, 247);
}

.project-article img {
  width: 90%;
  margin: auto;
  display: block;
}

.project-description {
  text-align: center;
}

.project {
  text-align: center;
  padding: 2em 0;
}

/** CONTACT */

#form {
  background-color: #FFF;
  box-shadow: 2px 2px 20px rgb(175, 173, 173);
  border-radius: 5px;
  padding: 1em;
  width: 80%;
  margin:  0 auto 4em auto;
  display: block;
  font-weight: 400;
}

#name, #email, #message {
  background-color: rgb(235, 227, 227);
  width: 100%;
  padding: 1em 0;
  margin: 1em 0;
  border-radius: 5px;
}

.input {
  border: none
}

#name.input , #email.input, #message.input {
  padding-left: 1em;
}

/* .control input::placeholder, .control textarea::placeholder {
  padding: 1em;
} */

.control textarea::placeholder {
  padding-top: 0;
}

footer.container-text-section {
  margin: 0;
  background-color: #000;
  display: flex;
  flex-direction: column;
}

h3.title, p.para{
  margin: 1em;
  color: #FFF;
}

.right-side {
  width: 100%;
  margin: 1em 0;
}

img.social {
  margin: 0 0.5em 0 1em;
  width: 10%;
}

/** PROJECT PAGES */

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
}

.project-details {
  width: 80%;
  margin: auto;
  font-size: 1.4rem;
}

.project-info {
  margin: 4rem 0;
}

.margin {
  margin: 2rem 0;
}



@media only screen and (max-width: 600px) {
  #hero-section, #contact {
    font-size: 1.7rem;
    height: unset;
    min-height: unset; 
  } 
}

@media screen and (min-width: 720px) {
  #hero-section, #contact{
    font-size: 1.5em;
    height: auto;
    min-height: 55rem;
    max-height: 120rem;
  }

  #contact, #project-section, #about{
    padding: 8em;
  }

  #hero-section {
    padding-top: 6rem 0;
  }

  .project {
    margin: 4em;
  }

  #form-section {
    padding-bottom: 2em;
  }

  footer.container-text-section {
    flex-direction: row;
    justify-content: flex-start;
  }

  .left-side, .right-side {
    font-size: 0.8em;
  }

  .right-side {
    margin: 0;
    margin-left: 1em;
  }

  .project-details__links {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .project-details__links button {
    margin: 1rem 0;
  }
}

@media screen and (min-width: 900px) {
  #about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .project-article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .project-article img {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  #nav-bar ul {
    width: 80%;
    font-size: 1.4em;
  }

  .section-title {
    padding: 35rem 10rem 20rem 10rem;
  }

  .section-title p {
    width: 60%;
  }

  #hero-section, #contact{
    min-height: 90rem;
    max-height: 150rem;
  }

  #about-content {
    margin: 0 4rem;
  }

  .skill {
    font-size: 1em;
    font-weight: bold;
  }

  .project-article {
    padding-bottom: 12rem;
    width: 80%;
    margin: auto;
  }

  #contact .section-title {
    padding: 0 0 8rem 0;
  }

  .right-side img {
    width: 4rem;
  }

  #form {
    width: 50%;
    padding: 4rem;
  }

  #message {
    height: 25rem;
  }

  .project-details {
    width: 58%;
    margin: auto;
  }
}

/* TODO: H1 + menu burger on desktop */
